.messageForm {
	width: 100%;
}

.messageForm form {
	display: flex;
	align-items: flex-end;
	position: relative;
}

.messageForm div {
	flex: 1 1 auto;
	margin-top: 10px;
	margin-left: 2px;
}

.messageForm button {
	margin-left: 10px;
}

.messageForm span {
	left: 30%;
}
