.messageForm {
	width: 100%;
}

.sendMessage {
	display: flex;
	align-items: flex-end;
	position: relative;
}

.sendMessageText {
	flex: 1 1 auto;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 2px;
}

.sendMessageText textarea {
	width: 100%;
}

.sendMessageButton button {
	margin-left: 10px;
}
