.users {
	padding-left: 10px;
	height: 90vh;
	width: 100%;
}

.usersHeader {
	display: flex;
	justify-content: space-between;
}

.rowUsers {
	overflow-y: scroll;
	height: 73vh;
	margin-bottom: 10px;
}

.showMore {
	text-align: center;
}
