.mypost {
	padding-left: 80px;
	padding-bottom: 10px;
	font-size: 20px;
}

.yourNews {
	text-align: right;
	margin-bottom: 30px;
}

.yourNews textarea {
	display: block;
	width: 80%;
	margin-bottom: 10px;
}

.yourNews button {
	margin-left: 5px;
	position: relative;
	right: 20%;
}

.rowPost {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	width: 90%;
	max-height: 135vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	/* padding-bottom: 10px; */
}

.rowPost::-webkit-scrollbar {
	width: 10px;
}

.rowPost::-webkit-scrollbar-track {
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #f9f9fd;
	border-radius: 10px;
}

.rowPost::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #12d4ee, #08ea00);
}
