.error {
	position: relative;
	box-shadow: 2px 2px 3px red, -2px -2px 3px red;
}

.errorMessage {
	display: inline-block;
	padding: 5px 10px 5px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	background: rgba(255, 0, 0, 0.6);
	border-radius: 5px;
	white-space: nowrap;
	position: absolute;
	bottom: 10%;
}

.errorMessageTextarea {
	left: 30%;
}

.errorMessageFind {
	right: 103%;
	display: inline-block;
	bottom: 22px;
}

@media only screen and (max-width: 980px) {
	.errorMessageFind {
		display: none;
	}
}

.disabledBtn {
	pointer-events: none;
	opacity: 0.5;
}
