.header {
	padding: 5px 10px;
	margin-bottom: 10px;
	background: linear-gradient(180deg, #08ea00, #12d4ee);
	border-radius: 5px;
	display: flex;
}

.hederImg {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: rgb(192, 192, 192);
	box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
}

.loginBlock {
	flex: 1 1 auto;
	margin-right: 20px;
}

.login {
	line-height: 2;
	font-size: 20px;
	margin-top: 5px;
	float: right;
}

.login a {
	color: #fff;
}

.rowButton {
	text-align: center;
	flex: 0 0 75px;
}

.header button {
	margin-top: 10px;
}

.header button a {
	color: inherit;
}
