.itemUserWrapper {
	word-break: break-all;
	overflow: hidden;
	margin-bottom: 20px;
}

.itemUserWrapper:last-child {
	margin-bottom: 0px;
}

.itemUser {
	display: flex;
	min-height: 50px;
	min-width: 100%;
}

.userAvatar {
	flex: 0 0 80px;
	border-radius: 50%;
	overflow: hidden;
}

.userAvatar img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.textUser {
	color: #000;
	font-weight: 500;
	flex: 1 1 auto;
	margin-left: 20px;
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 5px;
	background: rgba(200, 200, 200, 0.3);
	display: inline-flex;
	flex-direction: column;
}

.textUser address {
	color: #fff;
	font-weight: 500;
	align-self: flex-end;
	justify-self: flex-start;
}

.itemUserWrapper button {
	display: inline-block;
	margin: 5px 0px 15px;
	float: right;
}

.itemUserWrapper button:disabled {
	opacity: 0.5;
	border: 1px solid #000;
	color: red;
}
