.rowprofile {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	min-height: 35vh;
	word-break: break-all;
}

.avatar {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
	margin-right: 20px;
}

.listUserInfo {
	background: rgba(200, 200, 200, 0.3);
	padding: 10px;
	flex: 1 1 auto;
	font-size: 24px;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rowNameStatus {
	padding-right: 10px;
	overflow: hidden;
	flex: 0 0 50%;
	flex-wrap: nowrap;
}

.fullName {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}

.contacts {
	user-select: text;
	flex: 0 0 50%;
	line-height: 110%;
	margin-bottom: 10px;
}

.aboutMe {
	flex: 0 0 100%;
	margin-bottom: 10px;
}

.lookingForAJob {
	flex: 0 0 50%;
}
.lookingForAJobDescription {
	flex: 0 0 50%;
}
