.usersSearchForm {
	margin-top: 10px;
}

.usersSearchForm form {
	display: flex;
}

.usersSearchForm form div {
	position: relative;
}

.usersSearchForm button {
	margin-left: 15px;
}

.usersSearchForm span {
	position: absolute;
	display: inline-block;
	left: -130%;
}

@media only screen and (max-width: 980px) {
	.usersSearchForm span {
		display: none;
	}
}
