.formWrapper {
	display: flex;
}
.form {
	margin: 10% auto;
	border: 2px solid #fff;
	padding: 30px;
	border-radius: 5px;
}

.form div {
	margin-bottom: 20px;
}

.form input {
	background: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}

.form input:focus {
	background: #fff;
	color: #000;
	transition: all 0.3s;
}

.checkbox input {
	display: none;
}

.form label {
	margin: 20px 15px 10px 0;
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	transition: all 0.3s;
	color: #fff;
}

.checkbox label::before {
	content: "";
	position: relative;
	left: 2px;
	top: -2px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	opacity: 0;
}

.checkbox label::after {
	content: "Rememer me";
	position: relative;
	left: 30px;
	top: -22px;
	display: inline-block;
	white-space: nowrap;
	font-size: 24px;
	font-weight: 600;
}

.checkbox input:checked + label {
	transition: all 0.3s;
	background: #08ea00;
	color: #08ea00;
}

.checkbox input:checked + label::before {
	transition: all 0.3s;
	background: black;
	opacity: 1;
}

.form button {
	margin-top: 10px;
	float: right;
}

.form button:focus {
	border: 1px solid #000;
}
