.dialogs {
	display: grid;
	grid-template-columns: 25% 75%;
	padding-left: 10px;
	height: 91vh;
}

.dialogsItems {
	margin-right: 10px;
}

.dialogsRow {
	border-radius: 5px;
	padding: 10px;
	background: rgba(200, 200, 200, 0.3);
}

.allMessages {
	height: 90vh;
	padding-bottom: 10px;
}
