.usersSearchForm {
	position: relative;
	margin-top: 10px;
}

.usersSearchForm input {
	padding: 5px;
	background: rgba(240, 240, 240, 0.5);
}

.usersSearchForm input:hover,
input:focus {
	background: #fff;
	color: #000;
}

.usersSearchForm button {
	margin-left: 15px;
}

.error {
	position: relative;
	box-shadow: 2px 2px 3px red, -2px -2px 3px red;
}

.errorMessage {
	display: inline-block;
	padding: 5px 10px 5px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	background: rgba(255, 0, 0, 0.6);
	border-radius: 5px;
	white-space: nowrap;
	position: absolute;
	bottom: 10%;
}

.errorMessage {
	right: 103%;
	display: inline-block;
	bottom: 22px;
}

@media only screen and (max-width: 980px) {
	.errorMessage {
		display: none;
	}
}

.disabledBtn {
	pointer-events: none;
	opacity: 0.5;
}
